<h1>Hello world!</h1>
<div id="page-loading-time">Page loaded at {{loadingTime}}</div>
@require('./count.hbs')
{{#eq status "success"}}
  @require('./recordsPanel.hbs')
{{/eq}}
<div id="info">
<a href="https://github.com/enomoto-kudamono/json-server-in-express-http-proxy" target="_blank">Get code</a>
</div>